/* index.css */


/* Root container */
#root {
  width: 100%;
  /* max-width: 1280px;  constrain large screens */
  margin: 0;
  /* center horizontally */
  background-color: transparent;
}

/* Css reset and general element styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  min-width: 320px;
  min-height: 100vh;
}



section{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
} 

h2{
margin-top: 2rem;
}

img {
  width: 100%; 
}





/* Specific styling */

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(
    rgba(18, 52, 66, 0.2), 
    rgba(18, 52, 66, 0)
  );
  z-index: 1000;
  padding: 0 2rem;
}


.nav-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  color: var(--color-neutral-light-100);
}

.nav-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.nav-container li {
  position: relative;

}

.nav-container li a:not(.cta-button) {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

.nav-container li .cta-button {
  height: 20%;
  padding: 0.25em 1.2em;
}


.nav-container li:hover {
  color: var(--color-primary-light);
  cursor: pointer;
}



.hero{
    background:
    radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 45%),
    linear-gradient(rgba(0, 25, 75, 0.1), rgba(0, 25, 75, 0.1)),

    url("/images/hero3.jpg") no-repeat center center scroll;
  background-size: cover;
  background-color: black;

}



.hero-container {

  /* filter: brightness(90%) contrast(90%); */

  height: 100vh;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 gap: 1rem;


  color: var(--color-neutral-light-100);
}



.hero-container h1 {
  font-size: var(--font-size-hero);
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading);
  line-height: 1.1;
  /* margin: 0.75rem 2rem; */
  text-align: center;
}

.hero-container p {
  font-size: var(--font-size-h3);
  font-family: var(--font-fancy);
  font-weight: var(--font-weight-light);
  font-style: italic;
  /* margin: 0rem 2rem 1.25rem 2rem; */

  color: var(--color-neutral-light-100);
  margin-bottom: 0.5rem;
}


.cta-button {
  display: inline-block;

  padding: 0.35em 1.8em;
  border-radius: 25px;
  text-decoration: none;


  font-family: var(--font-button);
  font-weight: var(--font-weight-medium);
  /* letter-spacing: 0.04em;               */
  font-size: .95rem;
  text-shadow: 0 0 1px currentColor;
  color: var(--color-secondary);
  background-color: var(--color-primary);

  transition: all 250ms ease;

}


.cta-button:hover {
  text-decoration: none;
  translate: 0 +1px;
  background-color: var(--color-primary-opacity);
  color: var(--color-neutral-light-100);


}



.product {
  justify-content: start;
 box-shadow: 0px 10px 5px #b4b4b4, 0px -10px 5px #a8a8a8;
  background-color: var(--color-tertiary-light);

  height: 600px;
}

.product-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;

  color: var(--color-primary);

}


.card-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 80%;
  justify-content: space-between;

  color: var(--color-blue-dark-500);
}


.story{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}