#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.anime-card{
  margin-top: 10px;
  background-color: darkslategrey;
  padding: 2rem;
}


.card-layout{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}