.graph-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: start;

  width: 100%;
}


.graph-containers{
  width: 100%;
  max-height: 600px; /* your maximum height */
  height: 100%; 
}

/* .graph-svg {
    flex: 1;
  width: 100%;
  height: 100%;
} */